[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
watch = "python -m watch"
test = "python -m unittest discover"
calc = "python ./memo/calc.py"
typecheck = "mypy --ignore-missing-imports"

[packages]
numpy = "*"

[dev-packages]
yapf = "*"
"flake8" = "*"
ipython = "*"
jedi = "*"
neovim = "*"
watchdog = "*"
mypy = "*"

[requires]
python_version = "3.6"
