[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "unittest"

# devendencies
[packages]
numpy = "*"

# devDevendencies
[dev-packages]
yapf = "*"
"flake8" = "*"
ipython = "*"
jedi = "*"
neovim = "*"

[requires]
python_version = "3.6"
