[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
yapf = "*"
"flake8" = "*"
ipython = "*"
jedi = "*"
neovim = "*"

[packages]

[requires]
python_version = "3.6"
